body{
	margin: 0;
}

.landscape{
	background-image: url(img/dawn.png);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.cat{
	background-repeat: no-repeat;
	margin-top:250px; 
	margin-left: 350px;
}

@media(max-width: 768px){
	.cat{
		background-image: url(img/kitten-medium.png);
		margin-left: 200px;
	}
	.landscape{
		background-image: url(img/sunny-day.jpg);
		width: 600px;
	}
}

@media(max-width: 600px){
	.landscape{
		background-image: url(img/night.jpg);
		width: 400px;
	}
	.cat{
		background-image: url(img/kitten-small.png);
		margin-left: 100px;
	}
}
